@model ForumMVC.Models.NewTopicItem

@{
    ViewBag.Title = "CreateTopic";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TEMAT</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.Label("Nazwa Tematu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="temat" id="temat" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tresc Wiadomosci", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="wiadomosc" id="wiadomosc" />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index","User")
</div>
